// COLORS
$color-primary: #e3c482;
$color-secondary: #202020;
$color-charcoal: #333132;
$color-bittersweet: #804d47;
$color-blue-suede: #006176;
$color-peach: #efc4b4;

$color-white: #ffffff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;